.header{
  height: 34vw; 
  /* vw is viewPort width (i.e  34vw means if viewPort width is 1000px , 34vw = 1000*0.34 )and it also changes with resizing of window  */
  margin : 30 px ;
  background-image: url('/header_img.png') no-repeat;
  background-size: contain;
  position: relative;

}
.header-contents{
  position : absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap : 1.5vw;
  max-width: 50%;
  bottom: 10%;
  /* 10% refers to  10% width of parent element (changes with parent sizing)  */
  left : 6vw ;
  animation: fadeIn 3s;
}
.header-contents h2 {
  font-weight: 500;
  color : white ;
  font-size: max(4.5vw , 22px);
}
.header-contents p{
  color: white;
  font-size: 1.2vw;
}

.header-contents button{
  border :none ;
  color  :rgb(157, 136, 109);
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw ,13px);
  border-radius: 50px;
  font-weight: 600;
}

@media(max-width:1050px){
  /* .header {
    height:38vw ;
  } */
  .header-contents{
    max-width: 45%;
  }
}
@media(max-width:750px){
  
  .header-contents{
    max-width: 65%;
  }
  .header-contents p{
    display: none;
  }
  .header-contents button{
    padding: 2vw 4vw
;  }
}